@import "bourbon";
@import "base/base";
@import "neat";

#main { @include outer-container; }

#site-title { 
  font-size: 2em; 
  text-align: center;
  margin-bottom: 5%;
}

#site-blurb {
  text-align: center;
}

.commit-listing {
  padding: .5% 3%;
  border-bottom: $base-border;
  display: flex;
  align-items: center;
}

.avatar {
  order: 1;
  flex: 1;
}

.date { 
  order: 2;
  flex: 1;
  margin-left: 5%;
}

.message { 
  order: 3;
  flex: 5;
  margin-left: 5%;
}
